<% if (site.posts.length){ %>
<div id="widget_recent_posts" class="widget  panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><%= __('recent_posts') %></h3>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled">
            <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
            <li>
                <a href="<%= config.root %><%= post.path %>"><%= post.title %></a>
            </li>
            <% }); %>
        </ul>
    </div>
</div>
<% } %>