#article-list
  margin-top 50px

  article
    padding 10px 0px

  header
    time
      color  #08c

  footer
    .more-link
      color #ffffff

      hover
        color #ffffff

    .split-line
      height 1px
      width auto
      background  #CCCCCC
      overflow hidden
      margin-top 10px


